<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <h1 class="text-5xl text-center font-bold mb-10">go-psutil agent</h1>

    <div class="flex flex-col flex-nowrap justify-center items-center text-left mt-15 max-w-mb">
        <div 
            hx-get="/api/basic" hx-trigger="load, every 5s" hx-swap="innerHTML" id="basic-monitor-poller">
            Loading...
        </div>
    </div>
</body>

</html>